.mynav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 4px -4px rgba(5, 0, 0, 0.2);
  margin-top: 1rem;
}
.logo {
  margin-left: 1rem;
}
.logintext {
  margin-left: 33rem;
}

.user {
  margin-left: 28rem;
  height: 2.5rem;
  font-size: 20px;
  border-radius: 1.5rem;
}
.user:hover {
  background-color: rgb(49, 180, 231);
}

.login {
  justify-content: center;
  width: 400px;
  background: rgb(49, 180, 231);
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  height: 300px;
  margin-top: 10rem;
  margin-left: 30rem;
}
