.menu-body{
    width:80%;
    margin-left: 3rem;
}

  .menus{
      margin-top: 40px;
  }

  .menu-body{
      height: 26rem;
      margin-bottom: 3rem;
  }
.menu-body img{
    height: 15rem;
    object-fit: cover;

}
  .dll{
      display: flex;
  }
.dll p{
    width: 100%;
}
  .cart{
      margin-left: 5rem;
      border-radius: 12px;
  }
.button{
    margin-top: 20px;
}
.addbtn{
    margin-top: -0.5rem;
}
.proceed-button{
    margin-bottom: 4rem;
}