.top_space{
    margin-top: 140px;
}

.nevbar{
    max-width: 50%;
    margin-left: 23%;
    border-radius: 30px;

}

.xyz{
    padding-left: 500px;
}

.left_space{
    margin-left: 90px;
}

.left_space2{
    margin-left:65px;
}