.top_space{
    margin-top: 40px;
}

.options{
    max-width: 70%;
    margin-left: 15%;
    border-radius: 30px;
    margin-bottom: 2rem;
}


.proceed-button{
    margin-left: 50%;
}

.xyz{
    padding-left: 500px;
}

.left_space{
    margin-left: 90px;
}

.left_space2{
    margin-left:65px;
}