.orderplace{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
}

.orderplacelogo{
    width: fit-content;
    height: fit-content;
    margin-top: 8rem;
}

h3{
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
}